body {
  font-family: sans-serif;
  background: #fff;
}

div#app {
    margin-top: 34px;
}

.tableglobal{
	position: relative;
	top: 34px;
	background-color: #fafafa;
  border: 1px solid #e8e8e8;
}

th.td{
	text-align: center;
}

th{
	text-align: justify;
}